Repository connormckinnon93/cloudlab: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, validate, lint, kustomize

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      root: "terraform/"
      glob: "*.tf"
      run: terraform fmt -check
      fail_text: "Run 'mise run tf fmt' to fix formatting"
    validate:
      root: "terraform/"
      glob: "*.tf"
      run: terraform validate
    lint:
      root: "terraform/"
      glob: "*.tf"
      run: tflint
    kustomize:
      glob: "kubernetes/**/*.yaml"
      run: |
        for dir in kubernetes/*/; do
          if [ -f "${dir}kustomization.yaml" ]; then
            kustomize build "$dir" > /dev/null
          fi
        done
    gitleaks:
      run: gitleaks git --pre-commit --staged

commit-msg:
  commands:
    conventional:
      run: 'grep -qE "^(Merge .+|(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?!?: .+)$" {1}'
      fail_text: "Commit message must follow conventional commits: type(scope): message (merge commits are also allowed)"

docs: authentication gateway implementation plan for Authentik
  docs/plans/2026-02-23-authentik-auth-gateway-plan.md
Due: none

feat: add CloudNativePG operator for shared PostgreSQL
  kubernetes/flux-system/infrastructure.yaml
  kubernetes/infrastructure/cloudnative-pg/helmrelease.yaml
  kubernetes/infrastructure/cloudnative-pg/helmrepository.yaml
  kubernetes/infrastructure/cloudnative-pg/kustomization.yaml
  kubernetes/infrastructure/cloudnative-pg/namespace.yaml
  kubernetes/infrastructure/kustomization.yaml
Due: kustomize

feat: add shared PostgreSQL cluster via CloudNativePG
  kubernetes/infrastructure/kustomization.yaml
  kubernetes/infrastructure/postgres/helmrelease.yaml
  kubernetes/infrastructure/postgres/kustomization.yaml
  kubernetes/infrastructure/postgres/namespace.yaml
  kubernetes/infrastructure/postgres/secret.enc.yaml
Due: kustomize

feat: add Authentik identity provider with blueprints
  kubernetes/infrastructure/authentik/blueprints-configmap.yaml
  kubernetes/infrastructure/authentik/helmrelease.yaml
  kubernetes/infrastructure/authentik/helmrepository.yaml
  kubernetes/infrastructure/authentik/httproute.yaml
  kubernetes/infrastructure/authentik/kustomization.yaml
  kubernetes/infrastructure/authentik/namespace.yaml
  kubernetes/infrastructure/authentik/secret.enc.yaml
  kubernetes/infrastructure/kustomization.yaml
Due: kustomize

feat: add proxy outpost for forward-auth
  kubernetes/infrastructure/authentik/kustomization.yaml
  kubernetes/infrastructure/authentik/outpost-deployment.yaml
  kubernetes/infrastructure/authentik/outpost-httproute.yaml
  kubernetes/infrastructure/authentik/outpost-secret.enc.yaml
  kubernetes/infrastructure/authentik/outpost-service.yaml
Due: kustomize

feat: add forward-auth middleware with default-deny Kyverno policy
  kubernetes/cluster-policies/clusterpolicy-inject-forward-auth.yaml
  kubernetes/cluster-policies/kustomization.yaml
  kubernetes/cluster-policies/middleware-forward-auth.yaml
Due: kustomize

docs: update auth gateway design for CloudNativePG and no Redis
  docs/plans/2026-02-23-authentik-auth-gateway-design.md
Due: none

docs: add auth gateway implementation notes to CLAUDE.md
  CLAUDE.md
Due: none

docs: capture auth gateway deployment lessons in CLAUDE.md
  CLAUDE.md
Due: none

docs: add gh pr checks --watch lesson to CLAUDE.md
  CLAUDE.md
Due: none

test: add test runner infrastructure for systematic review
  .mise.toml
  tests/run-all.sh
Due: none

docs: add systematic review design and implementation plan
  docs/plans/2026-02-23-systematic-review-design.md
  docs/plans/2026-02-23-systematic-review-plan.md
Due: none

docs: revise plan with proper test frameworks (terraform test, kyverno CLI, chainsaw, trivy)
  docs/plans/2026-02-23-systematic-review-plan.md
Due: none

build: add test frameworks (kyverno, chainsaw, trivy, pluto, kube-linter)
  .kube-linter.yaml
  .mise.toml
  terraform/tests/.gitkeep
  tests/e2e/.gitkeep
  tests/kyverno/.gitkeep
Due: none

style: add inline comments for kube-linter exclusions and TODO tracking
  .kube-linter.yaml
  .mise.toml
Due: none

test: add documentation accuracy verification
  tests/test-docs-accuracy.sh
Due: none

Revert "test: add documentation accuracy verification"
  tests/test-docs-accuracy.sh
Due: none

refactor: remove bash test runner in favor of proper test frameworks
  .mise.toml
  tests/run-all.sh
Due: none

docs: fix stale references in CLAUDE.md, ARCHITECTURE.md, and README.md
  ARCHITECTURE.md
  CLAUDE.md
  README.md
Due: none

test: add Terraform variable validation tests
  terraform/tests/.gitkeep
  terraform/tests/setup/variables.tf
  terraform/tests/variables.tftest.hcl
Due: fmt-check, validate, lint

build: tune security scanner exclusions for actionable output
  .kube-linter.yaml
  .mise.toml
  .trivyignore
Due: none

test: add Terraform resource plan tests for main.tf
  terraform/tests/resources.tftest.hcl
  terraform/tests/setup-main/main.tf
  terraform/tests/setup-main/outputs.tf
  terraform/tests/setup-main/variables.tf
  terraform/tests/setup-main/versions.tf
Due: fmt-check, validate, lint

refactor: consolidate terraform test setup into single module
  terraform/tests/resources.tftest.hcl
  terraform/tests/setup-main/variables.tf
  terraform/tests/setup/outputs.tf
  terraform/tests/setup/proxmox.tf
  terraform/tests/setup/talos.tf
  terraform/tests/setup/versions.tf
  terraform/tests/variables.tftest.hcl
Due: fmt-check, validate, lint

test: add talos.tf plan-level assertions
  terraform/tests/setup/outputs.tf
  terraform/tests/talos.tftest.hcl
Due: fmt-check, validate, lint

refactor: split providers from main.tf for testable resource symlinks
  CLAUDE.md
  terraform/main.tf
  terraform/providers.tf
  terraform/tests/setup/main.tf
  terraform/tests/setup/providers.tf
  terraform/tests/setup/proxmox.tf
Due: fmt-check, validate, lint

refactor: simplify terraform tests from 46 to 10 run blocks
  terraform/tests/plan.tftest.hcl
  terraform/tests/resources.tftest.hcl
  terraform/tests/setup/outputs.tf
  terraform/tests/talos.tftest.hcl
Due: fmt-check, validate, lint

refactor: eliminate test setup directory with override_module
  terraform/providers.tf
  terraform/secrets/main.tf
  terraform/tests/plan.tftest.hcl
  terraform/tests/setup/main.tf
  terraform/tests/setup/outputs.tf
  terraform/tests/setup/providers.tf
  terraform/tests/setup/talos.tf
  terraform/tests/setup/variables.tf
  terraform/tests/setup/versions.tf
  terraform/tests/variables.tftest.hcl
  terraform/versions.tf
Due: fmt-check, validate, lint

docs: update CLAUDE.md for secrets module restructure
  CLAUDE.md
Due: none

test(kyverno): add CLI tests for forward-auth injection policy
  tests/kyverno/.gitkeep
  tests/kyverno/forward-auth-injection/kyverno-test.yaml
  tests/kyverno/forward-auth-injection/patched-resource.yaml
  tests/kyverno/forward-auth-injection/resource.yaml
  tests/kyverno/forward-auth-skip/kyverno-test.yaml
  tests/kyverno/forward-auth-skip/resource.yaml
Due: none

test(e2e): add Chainsaw E2E tests for cluster health, DNS, TLS, and auth
  tests/e2e/.gitkeep
  tests/e2e/auth-gateway/chainsaw-test.yaml
  tests/e2e/dns-resolution/chainsaw-test.yaml
  tests/e2e/flux-healthy/assert-kustomizations.yaml
  tests/e2e/flux-healthy/chainsaw-test.yaml
  tests/e2e/helmreleases-ready/chainsaw-test.yaml
  tests/e2e/tls-certificate/chainsaw-test.yaml
Due: none

fix(monitoring): use correct subchart key for node-exporter resources
  kubernetes/infrastructure/monitoring/helmrelease-kube-prometheus-stack.yaml
Due: kustomize

fix(whoami): harden deployment with probes, security context, and non-privileged port
  kubernetes/apps/whoami/deployment.yaml
  kubernetes/apps/whoami/service.yaml
Due: kustomize

fix(monitoring): move Alloy resources under alloy section
  kubernetes/infrastructure/monitoring/helmrelease-alloy.yaml
Due: kustomize

fix(authentik): harden outpost deployment with probes and security context
  kubernetes/infrastructure/authentik/outpost-deployment.yaml
Due: kustomize

refactor(terraform): upgrade tflint to all preset with local module inspection
  terraform/.tflint.hcl
Due: none

fix(check): use macOS-compatible awk syntax in SOPS metadata filter
  .mise.toml
Due: none

refactor(terraform): move talos provider declaration to providers.tf
  terraform/providers.tf
  terraform/talos.tf
Due: fmt-check, validate, lint

refactor(helm): remove over-specified default values from HelmReleases
  kubernetes/infrastructure/adguard/adguard-home/helmrelease.yaml
  kubernetes/infrastructure/authentik/helmrelease.yaml
  kubernetes/infrastructure/cloudnative-pg/helmrelease.yaml
  kubernetes/infrastructure/monitoring/helmrelease-alloy.yaml
  kubernetes/infrastructure/monitoring/helmrelease-kube-prometheus-stack.yaml
  kubernetes/infrastructure/monitoring/helmrelease-loki.yaml
  kubernetes/infrastructure/nfs-provisioner/helmrelease.yaml
  kubernetes/infrastructure/postgres/helmrelease.yaml
  kubernetes/infrastructure/traefik/helmrelease.yaml
Due: kustomize

fix(flux): expand alert event sources to watch all namespaces
  kubernetes/flux-system/alert-flux.yaml
Due: kustomize

docs: update documentation for systematic review changes
  .mise.toml
  ARCHITECTURE.md
  CLAUDE.md
  README.md
Due: none
